@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgb(140, 54, 180);
    
} 

@keyframes animate {
        0%{
            background-position: 0 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0 50%;
        }
}

.photo{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    color: rgb(253, 182, 16);
}

img{
    border-radius: 50%;
    border: 3px solid transparent;
    outline: 4px solid #e5a40b;
    transition: all .8s;
}

img:hover{
    transform: rotate(360deg);
    filter:grayscale(50%);
}

.photo span{
    bottom: 0;
    font-size: 60px;
    line-height: 1em;
    font-weight: 500;
}

.bio{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio .dynamic-txt{
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}

.bio ul li{
    list-style: none;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 7s  steps(4) infinite  ;
}

@keyframes slide {
    100%{
        top: -120px;
    }
}

.dynamic-txt li span{
    position: relative;
}

.dynamic-txt li span::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    gap: 17px;
}

.content a{
    display: block;
    width: 40%;
    background:  rgb(253, 182, 16);
    text-align: center;
    color:#111;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 12px 0;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    box-shadow:10px 10px rgba(0, 0, 0, .4);
}

.content a::before{
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
}

.content .twitter::before {
    content: "Twitter";
    top: 0;
    left: -100%;
    background: #00acee;
}

.content .twitter:hover:before {
    left: 0;
}

.content .github::before {
    content: "Github";
    top: 0;
    right: -100%;
    background: #010101;
}

.content .github:hover:before {
    right: 0;
}

.content .linkedin::before {
    content: "LinkedIn";
    left: 0;
    bottom: -100%;
    background: #3334a1;
}

.content .linkedin:hover:before {
    bottom: 0;
}


.content .cloud::before {
    content: "Portfolio";
    left: 0;
    top: -100%;
    background: #c41f09;
}

.content .cloud:hover:before {
    top: 0;
}

@media screen and (max-width:800px) {
    .content a{
        width: 60%;
    }

    .photo span{
        font-size: 50px;
    }
}

@media screen and (max-width:500px) {
    .content a{
        width: 80%;
        font-size: 20px;
    }

    .photo img{
        width: 150px;
        height: 150px;
    }

    .photo span{
        font-size: 40px;
    }
}